.father {
    background: lightskyblue;
    border-radius: 4px;
    padding: 10px;
    width: 400px;
}

.child {
    margin-top: 10px;
    background: lightpink;
    border-radius: 4px;
    padding: 10px;
    width: 350px;
}

h5 {
    color: rgb(126, 6, 139);
}

h6 {
    color: darkgreen;
}